<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="toNJrexmB9qcR6lbs91MGi50bJQInNKWbt1gEbBGnBo" />
    <meta charset="UTF-8">
    <title>Listening Room 1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}"/>
    <script src="https://cdn.socket.io/4.8.3/socket.io.min.js" integrity="sha384-kzavj5fiMwLKzzD1f8S7TeoVIEi7uKHvbTA3ueZkrzYq75pNQUiUi6Dy98Q3fxb0" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
    <link type="image/x-icon" href="img/favicon.ico" rel="icon"/>
</head>
<body>
    <a href="#" class="start">start</a>
    <a href="#" class="stop">stop</a>
</body>
