/* TODO: css reset */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

html{
  background-color:teal; 
}


html, body{
  padding:0;
  margin:0;
  height:100%;
  font-family:"IBM Plex Mono";
}

ul{
  list-style-type: none;
  padding:0px;
  margin:0px;
}



.main{
  mix-blend-mode: multiply;
  background-image:url('../img/starry_sky.jpg');
  background-size:cover;
  border:1em solid white;
  height:100%;
  box-sizing:border-box;
  display:flex;
  flex-direction:column-reverse;
}

.main::after, .main::before{
  content:" ";
  display:block;
  position:absolute;
  width: 0;
  height: 0;
  background-color: transparent;
  box-sizing: border-box;
}

.main::after{
  bottom:1em;
  right:1em;
  border-left: 2em solid transparent;
  border-bottom: 2em solid white;
}

.main::before{
  top:1em;
  left:1em;
  border-right: 2em solid transparent;
  border-top: 2em solid white;
}

header{
  align-self:center;
  flex-grow:2;
  justify-content:center;
  flex-direction:column;
  display:flex;
}

h1{
  margin:0;
  line-height:0;
  letter-spacing:-0.16em;
  font-size:20em;
  color:white;
}

.hud{
  /* display:flex; */
  /* flex-direction:row; */
  /* background-color:white; */
  
}


.voice-display{
  display:inline-block;
  background-color:white;
  max-width:25%;
}

.hud li{
  display:inline-block;
}

.hud li ul{
  display:grid;
  grid-template-columns:repeat(5, 1fr);
  grid-template-rows:1fr 1fr;
  padding: 0 0.5em;
}

.voice-display li{
  padding:0.25em;
  font-size:0.625em;/* 10px */
}

.voice-display .icon{
  float: left;
  height: 2em;
}

.start{
  position:absolute;
}
